html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
}

a {
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-position: inside;
  list-style-type: none;
}
